<!-- <ion-header>
  <ion-toolbar>
    <ion-title>TicTic</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<section class="login-page">
  <div class="login-page__logocontainer">
  <img class="login-page__logo" src="../../../assets/icon/logo.svg"/>
  </div>
  <div class="login-page__form">
  <form class="example-form"  [formGroup]="loginForm" (ngSubmit)="auth.emailLogin(this.loginForm.value.email, this.loginForm.value.password)">
      <mat-form-field class="minput-field-full regular-input-text">
        <input matInput type="email" placeholder="Email Address" name="email" formControlName="email" required>
      </mat-form-field>
      <mat-form-field class="minput-field-full regular-input-text ">
          <input matInput type="password" placeholder="Password" name="password" formControlName="password" required>
        </mat-form-field>
        <div class="basic-login">
            <button class="regular-btn margin-medium" type="submit" [disabled]="!loginForm.valid" mat-button>Login</button>
            <button class="regular-btn margin-medium" (click)="signUp()" mat-button>SignUp</button>
        </div>
      </form>
  </div>
  <div class="social-login">
      <button class="google-btn margin-small" mat-button (click)="auth.googleLogin()"><i class="fa fa-google" aria-hidden="true"></i> Login via Google</button>
      <button class="facebook-btn margin-small" mat-button><i class="fa fa-facebook" aria-hidden="true"></i> Login via Facebook</button>
  </div>
</section>
</ion-content>
